<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!--配置全局属性-->
    <settings>
        <!--开启自动绦虫主键功能，原理是通过jdbc的一个方法getGenerateKeys获取自动主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用别名替换列名，默认开启-->
        <setting name="useColumnLabel" value="true"></setting>
        <!--开启驼峰命名的转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
    </settings>
</configuration>