<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmlr123.dao.SeckillMapper">
    <resultMap id="BaseResultMap" type="com.hmlr123.entity.Seckill">
        <!--<id property="seckillId" column="seckill_id" javaType="Long" jdbcType="BIGINT"/>-->
        <!--<result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>-->
        <!--<result property="number" column="number" javaType="Integer" jdbcType="VARCHAR"/>-->
        <!--<result property="startTime" column="start_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
        <!--<result property="endTime" column="end_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
        <!--<result property="createTIme" column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
    </resultMap>

    <!--根据传过来的<code>seckillId</code>去减少商品库存-->

    <!--
    mybatis 解析不了 <=  >= >  <
    请用 <![CDATA[    ]]> 夹住代码
    -->
    <!--传入参数用#{}-->
    <update id="reduceNumber">
        update seckill
        set number=number-1
        where seckill_id = #{seckillId}
        and start_time<![CDATA[
        <=
        ]]> #{killTime}
        and number >0
    </update>

    <!--根据秒杀ID <code>seckillId</code>获取秒杀详细信息-->
    <!--
    resultType类型
    基本类型：resultType=基本类型
    对象类型：resultType=对象的全类名
    List类型：resultType=List中元素的类型
    Map类型：单条记录 resultType=map
            多条记录 resultType=Map中的value类型
    -->
    <select id="queryById" resultType="com.hmlr123.entity.Seckill">
        select *
        from seckill as s
        where s.seckill_id=#{seckillId}
    </select>

    <!--根据偏移量去查询秒杀商品列表-->
    <!--asc升序 desc降序-->
    <select id="queryAll" resultMap="BaseResultMap">
        select *
        from seckill as s
        order by seckill_id asc
        limit #{offset},#{limit}
    </select>

    <!--调用存储过程-->
    <!--
    statementType 声明指向的是什么类型，其中CALLABLE是执行存储过程和函数的
    mode 模式，是传入参数还是返回参数 对应存储过程中的in out
    jdbcType 传入参数类型
    -->
    <select id="killByProcedure" statementType="CALLABLE">
        CALL execute_seckill(
        #{seckillId,jdbcType=BIGINT,mode=IN},
        #{phone,jdbcType=BIGINT,mode=IN},
        #{killTime,jdbcType=TIMESTAMP,mode=IN},
        #{result,jdbcType=INTEGER,mode=OUT}
        )
    </select>
</mapper>