<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmlr123.dao.SuccessKilledMapper">
    <!--插入一条详细的购买信息-->
    <!--
    MySQL 提供了Ignore 用来避免数据的重复插入.
    若有导致unique key 冲突的记录，则该条记录不会被插入到数据库中.
    当有重复记录就会忽略,执行后返回数字0
    -->
    <insert id="insertSuccessKilled">
        insert IGNORE into success_killed(seckill_id,user_phone,state)
        values (#{seckillId},#{userPhone},0)
    </insert>

    <!--根据用户秒杀的商品的id查询<code>SuccessKilled</code>的明细信息-->
    <select id="queryByIdWithSeckill" resultType="com.hmlr123.entity.SuccessKilled">
        select
        sk.seckill_id,
        sk.user_phone,
        sk.state,
        sk.create_time,
        s.seckill_id  "seckill.seckill_id",
        s.name "seckill.name",
        s.number "seckill",
        s.start_time  "seckill.start_time",
        s.end_time  "seckill.end_time",
        s.create_time "seckill.create_time"
        from success_killed sk
        inner join seckill s on sk.seckill_id=s.seckill_id
        where sk.seckill_id=#{seckillId}
        and sk.user_phone=#{userPhone}
    </select>
</mapper>